@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* GRID */
/* HELPERS */
.widget {
  border: 1px solid #BDC3C7;
  padding: 20px;
  position: relative;
}

.widget .widget-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  margin: 0 0 10px;
  font-size: 1.4rem;
}

.widget .widget-title + * {
  margin-top: 30px;
}

.side-menu {
  width: 100%;
  height: 100%;
  background-color: #2C3E50;
}

.side-menu .side-menu-title {
  font-size: .8rem;
  color: rgba(255, 255, 255, 0.6);
  padding: 20px 20px 5px;
}

.side-menu li {
  padding: 0 20px;
}

.side-menu li:HOVER, .side-menu li.selected {
  background-color: #F39C12;
}

.side-menu li a {
  text-decoration: none;
  line-height: 40px;
  color: #ECF0F1;
}

.side-menu.light {
  background-color: #ECF0F1;
  color: #2C3E50;
}

.side-menu.light .side-menu-title {
  color: rgba(0, 0, 0, 0.4);
}

.side-menu.light li a {
  color: #2C3E50;
}

button {
  border: none;
  background-color: #3498DB;
  font-size: 1rem;
  padding: 10px 20px;
  color: #fff;
  margin: 5px;
  min-width: 120px;
  position: relative;
  cursor: pointer;
}

button:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0;
  transition: all 0.3s;
}

button:hover:after, button:focus:after {
  opacity: .2;
}

button:focus {
  outline: none;
}

button:active:after {
  background-color: #000;
}

button.secondary {
  background-color: #F39C12;
}

button.warning {
  background-color: #F1C40F;
}

button.danger {
  background-color: #E74C3C;
}

button.info {
  background-color: #1ABC9C;
}

button:disabled {
  background-color: #BDC3C7 !important;
  cursor: auto;
}

button:disabled:after {
  content: none !important;
}

button.small {
  font-size: .8rem;
  min-width: 100px;
  padding: 8px 15px;
}

button.big {
  font-size: 1.4rem;
  min-width: 180px;
  padding: 15px 25px;
}

button.block {
  width: 100%;
}

button.icon {
  min-width: 0;
  padding: 10px;
}

button.icon.big {
  padding: 15px 20px;
}

button.icon.small {
  padding: 8px;
}

label.input {
  display: block;
  position: relative;
  margin: 10px 0;
  font-size: 1rem;
  transition: all 0.3s;
}

label.input input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  margin-top: 10px;
  transition: all 0.3s;
}

label.input input:focus {
  outline: none;
  border: 1px solid #F39C12;
}

@media screen and (min-width: 768px) {
  label.input.inline {
    display: inline-block;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    height: 40px;
  }
  label.input.inline input {
    position: absolute;
    top: -20px;
    right: 0;
    display: inline-block;
    width: 75%;
    margin-left: 15px;
  }
}

label.input.icon {
  overflow: hidden;
}

label.input.icon > i {
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  background-color: #F39C12;
  padding: 10px 0;
  width: 40px;
  height: 40px;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #F39C12;
}

label.input.icon > i + input {
  display: block;
  width: calc(100% - 40px);
  float: right;
  height: 40px;
  border-left: none !important;
  margin-top: 0;
}

label.input.icon:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 11px;
  left: 39px;
  border: 9px solid transparent;
  border-left: 7px solid #F39C12;
  z-index: 2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

label.input.icon.error > i {
  background-color: #E74C3C;
  border-color: #E74C3C;
}

label.input.icon.error:before {
  border-left-color: #E74C3C;
}

label.input.error input {
  border: 1px solid #E74C3C;
}

.toolbar {
  width: 100%;
  height: 50px;
  padding: 0;
  background-color: #2C3E50;
  color: #ECF0F1;
}

.toolbar .title {
  float: left;
  font-size: 1.5rem;
  line-height: 50px;
  margin-left: 15px;
}

.toolbar > button.toggleMenu {
  width: 40px;
  height: 40px;
  min-width: 40px;
  padding: 0;
  float: right;
}

@media screen and (min-width: 768px) {
  .toolbar > button.toggleMenu {
    display: none !important;
  }
}

.toolbar .menu {
  float: left;
  display: block;
  width: 100%;
  background-color: #2C3E50;
  font-size: 0.9rem;
  position: relative;
}

.toolbar .menu.open > ul {
  display: block;
}

.toolbar .menu > ul {
  display: none;
  height: 100%;
}

.toolbar .menu > ul > li {
  display: block;
  margin: 0 10px 0 0;
  padding: 10px 15px;
  cursor: pointer;
  transition: color 0.3s;
}

.toolbar .menu > ul > li:hover, .toolbar .menu > ul > li.active {
  color: #F39C12;
}

.toolbar .menu > .menu-section + .menu-section {
  border-top: 1px solid #ECF0F1;
  margin-top: 5px;
  padding-top: 5px;
}

@media screen and (min-width: 768px) {
  .toolbar .menu {
    width: auto;
    float: left;
    margin: 0 25px;
  }
  .toolbar .menu.right {
    float: right;
  }
  .toolbar .menu > ul {
    display: inline-block !important;
  }
  .toolbar .menu > .menu-section + .menu-section {
    border: none;
    padding: 0;
    margin-top: 0;
  }
  .toolbar .menu > .menu-section + .menu-section:before {
    content: '|';
    margin-right: 10px;
  }
  .toolbar .menu > ul > li {
    line-height: 50px;
    display: inline-block;
    padding: 0;
  }
}

.toolbar.light {
  background-color: #ECF0F1;
  color: #2C3E50;
}

.media {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.media .media-image {
  float: left;
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

.media .media-image img {
  display: block;
}

.media, .media .media-body {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

.media .media-body * {
  width: 100%;
}

table {
  width: 100%;
}

table.light thead {
  color: #2C3E50;
}

table.light thead tr {
  background-color: #ECF0F1;
}

table.zebra tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}

table thead {
  color: #ECF0F1;
}

table thead tr {
  background-color: #2C3E50;
  border-bottom: 2px solid #BDC3C7;
}

table tbody tr:hover {
  background-color: #f0f0f0 !important;
}

table tr {
  height: 40px;
  border-bottom: 1px solid #BDC3C7;
  border-top: 1px solid #BDC3C7;
  background-color: transparent;
}

table th, table td {
  vertical-align: middle;
  padding: 0 10px;
}

table th {
  text-align: left;
  position: relative;
}

table th.sortable.sorted {
  border-bottom: 3px solid #F39C12;
}

table th.sortable {
  cursor: pointer;
}

table th.sortable:hover::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  border: 7px solid transparent;
  border-top: 7px solid #F39C12;
  margin-top: -4px;
}

table th.sortable.ascending:hover::after {
  border: 7px solid transparent;
  border-bottom: 7px solid #F39C12;
  margin-top: -8px;
}

.alert {
  background-color: #3498DB;
  display: inline-block;
  width: 100%;
  line-height: 40px;
  color: #fff;
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

.alert.small {
  font-size: .8rem;
  line-height: 25px;
  border-width: 1px;
  font-size: 100;
}

.alert.secondary {
  background-color: #F39C12;
  color: #fff;
}

.alert.warning {
  background-color: #F1C40F;
  color: #fff;
}

.alert.info {
  background-color: #1ABC9C;
  color: #fff;
}

.alert.danger {
  background-color: #E74C3C;
  color: #fff;
}

/*helpers*/
.borderless {
  border: none !important;
}

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

body:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

body > nav {
  background-color: #2C3E50;
  color: #fff;
  display: inline-block;
  float: left;
  margin-left: 0%;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 2;
  text-align: center;
}

@media screen and (min-width: 768px) {
  body > nav {
    margin-left: 0%;
    width: 25%;
  }
}

@media screen and (min-width: 1024px) {
  body > nav {
    margin-left: 0%;
    width: 20%;
  }
}

body > nav > button {
  position: absolute;
  top: 15px;
  right: 10px;
  min-width: 30px;
  width: 40px;
  height: 40px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  body > nav > button {
    display: none !important;
  }
}

body > nav .side-menu ul {
  max-height: 0;
  overflow: hidden;
}

body > nav .side-menu ul.open {
  max-height: 500px;
}

@media screen and (min-width: 768px) {
  body > nav {
    min-height: 100vh;
    height: 100%;
    text-align: left;
    position: relative;
  }
  body > nav .side-menu ul {
    max-height: 100%;
  }
}

body > nav > header > h1, body > nav > header > h2 {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  margin: 20px 0 10px;
}

body > nav > header > h1 a, body > nav > header > h2 a {
  color: #fff;
  text-decoration: none;
}

body > nav > header > h2 {
  color: #ECF0F1;
  font-size: 1.1rem;
  margin: 10px 0;
  font-weight: lighter;
}

body > section {
  background-color: #ECF0F1;
  height: 100vh;
  overflow-y: scroll;
  display: inline-block;
  float: left;
  margin-left: 0%;
  width: 100%;
  padding: 20px;
  padding-top: 100px;
}

@media screen and (min-width: 768px) {
  body > section {
    margin-left: 0%;
    width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  body > section {
    margin-left: 0%;
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  body > section {
    padding-top: 20px;
  }
}

body > section .demo-box {
  position: relative;
  background-color: #fff;
  padding: 20px;
}

body > section > h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

body > section > h2 {
  font-size: 1.4rem;
  margin: 20px 0;
}

body > section > h3 {
  font-size: 1.2rem;
  font-weight: lighter;
  margin: 10px 0;
}

body > section > p {
  margin-bottom: 10px;
}

body > section > ul {
  list-style: disc;
  padding: 0 0 0 20px;
}

body > section > ul li {
  margin-bottom: 5px;
}

body > section table {
  margin-bottom: 40px;
}

#breakpoints-demo .alert {
  display: none;
}

#breakpoints-demo .phoneScreen {
  display: block;
}

@media screen and (min-width: 568px) {
  #breakpoints-demo .phoneScreen {
    display: none !important;
  }
}

@media screen and (min-width: 568px) {
  #breakpoints-demo .smallScreen {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  #breakpoints-demo .smallScreen {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  #breakpoints-demo .mediumScreen {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  #breakpoints-demo .mediumScreen {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) {
  #breakpoints-demo .largeScreen {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  #breakpoints-demo .largeScreen {
    display: none !important;
  }
}

@media screen and (min-width: 1280px) {
  #breakpoints-demo .x-largeScreen {
    display: block;
  }
}

#grid-demo .content {
  position: relative;
}

#grid-demo .content:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

#grid-demo .content article {
  min-height: 50px;
  /* Demo purposes */
  border: 1px solid #eee;
  /* Demo purposes */
  display: inline-block;
  float: left;
  margin-left: 0%;
  width: 20%;
}

#grid-demo .content article.big {
  display: inline-block;
  float: left;
  margin-left: 0%;
  width: 60%;
}

#grid-demo .content article.medium {
  display: inline-block;
  float: left;
  margin-left: 0%;
  width: 40%;
}

#grid-demo .content article.block {
  display: inline-block;
  float: left;
  margin-left: 0%;
  width: 100%;
}

#responsive-grid-demo .content {
  position: relative;
}

#responsive-grid-demo .content:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

#responsive-grid-demo .content article {
  min-height: 50px;
  /* Demo purposes */
  border: 1px solid #eee;
  /* Demo purposes */
  display: inline-block;
  float: left;
  margin-left: 0%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #responsive-grid-demo .content article {
    margin-left: 0%;
    width: 20%;
  }
}

@media screen and (min-width: 768px) {
  #responsive-grid-demo .content article.big {
    margin-left: 0%;
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  #responsive-grid-demo .content article.medium {
    margin-left: 0%;
    width: 40%;
  }
}

#breakpointStyles-demo .change {
  background-color: #F1C40F;
  color: #fff;
  padding: 5px 10px;
}

@media screen and (min-width: 568px) {
  #breakpointStyles-demo .change {
    background-color: #3498DB;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) {
  #breakpointStyles-demo .change {
    background-color: #F39C12;
    color: #000;
  }
}

@media screen and (min-width: 1024px) {
  #breakpointStyles-demo .change {
    background-color: #E74C3C;
    padding: 10px 15px;
  }
}

@media screen and (min-width: 1280px) {
  #breakpointStyles-demo .change {
    background-color: #1ABC9C;
  }
}

.tabbed-view {
  margin: 10px 0;
}

.tabbed-view .tabs {
  display: block;
  overflow: hidden;
  zoom: 1;
}

.tabbed-view .tabs li {
  background-color: #eee;
  display: inline-block;
  border: 1px solid #ccc;
  float: left;
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.tabbed-view .tabs li + li {
  border-left: none;
}

.tabbed-view .tabs li.active {
  background-color: #fff;
}

.tabbed-view > pre {
  margin: 0;
  display: none;
}

.tabbed-view > pre.active {
  display: block;
}

.pcWarning {
  display: none;
}

@media screen and (min-width: 768px) {
  .pcWarning {
    display: inline;
  }
}
